
  <ul class="list-none p-2 m-0">
    <li>
      <div pRipple pStyleClass="@next" enterFromClass="hidden" enterActiveClass="animate-slidedown"
        leaveToClass="hidden" leaveActiveClass="animate-slideup"
        class="p-4 flex items-center justify-between text-surface-600 dark:text-surface-200 cursor-pointer p-ripple">
        <i class="pi pi-objects-column"></i>
        <span class="pr-1 pl-2"> MENU PRINCIPAL</span>
        <i class="pi pi-chevron-down"></i>
      </div>
      <ul class="list-none p-0 m-0 overflow-hidden ">
        <app-application-list-principal></app-application-list-principal>
      </ul>
    </li>
  </ul>
  <ul class="list-none p-2 m-0">
    <li>
      <div pRipple pStyleClass="@next" enterFromClass="hidden" enterActiveClass="animate-slidedown"
        leaveToClass="hidden" leaveActiveClass="animate-slideup"
        class="p-4 flex items-center justify-between text-surface-600 dark:text-surface-200 cursor-pointer p-ripple">
        <i class="pi pi-box"></i>
        <span class="pr-1 pl-2">HERRAMIENTAS</span>
        <i class="pi pi-chevron-down"></i>
      </div>
      <ul class="list-none p-0 m-0 overflow-hidden">
        <app-application-list-menu></app-application-list-menu>
      </ul>
    </li>
  </ul>

