<li>
  <a pRipple
    class="flex align-items-center gap-2 no-underline cursor-pointer p-4 border-round hover:bg-gray-300 text-gray-700 dark:text-surface-100  dark:hover:bg-surface-700 duration-180 transition-colors p-ripple">
    <i class="pi pi-folder mr-2"></i>
    <span class=" ">Projects</span>
  </a>
</li>
<li>
  <a pRipple
    class="flex align-items-center gap-2 no-underline cursor-pointer p-4 border-round hover:bg-gray-300 text-gray-700 dark:text-surface-100  dark:hover:bg-surface-700 duration-180 transition-colors p-ripple">
    <i class="pi pi-chart-bar mr-2"></i>
    <span class=" ">Performance</span>
  </a>
</li>
<li>
  <a pRipple
    class="flex align-items-center gap-2 no-underline cursor-pointer p-4 border-round hover:bg-gray-300 text-gray-700 dark:text-surface-100  dark:hover:bg-surface-700 duration-180 transition-colors p-ripple">
    <i class="pi pi-cog mr-2"></i>
    <span class=" ">Settings</span>
  </a>
</li>
